<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Randy</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- basic styles -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />

    <!--[if IE 7]>
    <link rel="stylesheet" href="assets~/assets/css/font-awesome-ie7.min.css"/>
    <![endif]-->

    <!-- page specific plugin styles -->

    <!-- fonts -->
    <link rel="stylesheet" href="~/assets/css/font_googleapis_com_Open_Sans.css">

    <!-- ace styles -->


    <link rel="stylesheet" href="~/assets/css/ace.min.css" />
    <link rel="stylesheet" href="~/assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="~/assets/css/ace-skins.min.css" />

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="assets~/assets/css/ace-ie.min.css"/>
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->

    <script src="~/assets/js/ace-extra.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!--navbar-->
    <div class="navbar navbar-default" id="navbar">
        <script type="text/javascript">
            try {
                ace.settings.check('navbar', 'fixed')
            } catch (e) {
            }
        </script>
        <div class="navbar-container" id="navbar-container">
            <!-- /.navbar-header -->

            <!-- .navbar-header pull-left -->
            @Html.Partial("_Layout.Title")
            <!-- /.navbar-header pull-left -->

            <!--.navbar-header pull-right -->
            @Html.Partial("_Layout.UserInfo")
            <!--/.navbar-header pull-right -->

            <!-- .navbar-header -->
        </div>
        <!-- /.container -->
    </div>
    <!--navbar-->

    <!--.main-container-->
    <div class="main-container" id="main-container">
        <script type="text/javascript">
            try {
                ace.settings.check('main-container', 'fixed')
            } catch (e) {
            }
        </script>

        <div class="main-container-inner">
            <a class="menu-toggler" id="menu-toggler" href="#">
                <span class="menu-text"></span>
            </a>
            <!--.sidebar-->
            <div class="sidebar" id="sidebar">
                <script type="text/javascript">
                    try {
                        ace.settings.check('sidebar', 'fixed')
                    } catch (e) {
                    }
                </script>

                <!-- #sidebar-shortcuts-->
                @Html.Partial("_Layout.Shortcuts")
                <!-- #sidebar-shortcuts -->

                <!--.nav nav-list-->
                @Html.Partial("_Layout.Menu")
                <!-- /.nav-list -->

                <!--侧滑按钮.sidebar-collapse-->
                <div class="sidebar-collapse" id="sidebar-collapse">
                    <i class="icon-double-angle-left" data-icon1="icon-double-angle-left"
                        data-icon2="icon-double-angle-right"></i>
                </div>
                <!--侧滑按钮.sidebar-collapse-->

                <script type="text/javascript">
                    try {
                        ace.settings.check('sidebar', 'collapsed')
                    } catch (e) {
                    }
                </script>
            </div>
            <!--.sidebar-->

            <!--.main-content-->
            <div class="main-content">
                <iframe name="right" id="rightMain" src="../Main/Index" frameborder="no" scrolling="auto" width="100%" height="auto" allowtransparency="true" style="overflow-y : hidden;"></iframe>
            </div>

            <!-- /.main-content -->

            <!-- 主题切换#ace-settings-container-->
            @Html.Partial("_Layout.Setting")
            <!-- 主题切换/#ace-settings-container -->
        </div>
        <!-- /.main-container-inner -->

        <!-- 置顶-->
        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="icon-double-angle-up icon-only bigger-110"></i>
        </a>
        <!-- 置顶-->
    </div>
    <!-- /.main-container -->

    <!-- basic scripts -->

    <!--[if !IE]> -->
    <script src="~/assets/js/jquery-2.0.3.min.js"></script>
    <!-- <![endif]-->

    <!--[if IE]>
    <script src="assets/js/jquery-1.10.2.min.js"></script>
    <![endif]-->

    <!--[if !IE]> -->

    <script type="text/javascript">
        window.jQuery || document.write("<script src='assets/js/jquery-2.0.3.min.js'>" + "<" + "script>");
    </script>

    <!-- <![endif]-->

    <!--[if IE]>
    <script type="text/javascript">
        window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>" + "<" + "script>");
    </script>
    <![endif]-->

    <script type="text/javascript">
        if ("ontouchend" in document) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "script>");
    </script>

    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/typeahead-bs2.min.js"></script>

    <!-- page specific plugin scripts -->

    <!--[if lte IE 8]>
    <script src="assets/js/excanvas.min.js"></script>
    <![endif]-->

    <script src="~/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/assets/js/jquery.slimscroll.min.js"></script>
    <script src="~/assets/js/jquery.easy-pie-chart.min.js"></script>
    <script src="~/assets/js/jquery.sparkline.min.js"></script>
    <script src="~/assets/js/flot/jquery.flot.min.js"></script>
    <script src="~/assets/js/flot/jquery.flot.pie.min.js"></script>
    <script src="~/assets/js/flot/jquery.flot.resize.min.js"></script>

    <!-- ace scripts -->

    <script src="~/assets/js/ace-elements.min.js"></script>
    <script src="~/assets/js/ace.min.js"></script>
    <script type="text/javascript">
    </script>
</body>
</html>

