@using EFModel;
@using Common.Helper;

@{
    SYS_CONFIG infoModel = (SYS_CONFIG)CacheHelper.GetCache("SysInfo");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Randy</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <!-- basic styles -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />


    <!--[if IE 7]>
    <link rel="stylesheet" href="assets~/assets/css/font-awesome-ie7.min.css"/>
    <![endif]-->



    <!-- page specific plugin styles -->

    <!-- fonts -->
    <link rel="stylesheet" href="~/assets/css/font_googleapis_com_Open_Sans.css">

    <!-- ace styles -->

    <link rel="stylesheet" href="~/assets/css/ace.min.css" />
    <link rel="stylesheet" href="~/assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="~/assets/css/ace-skins.min.css" />

    <!-- layer css -->
    <link href="~/assets/js/layer/skin/default/layer.css" rel="stylesheet" />
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="assets~/assets/css/ace-ie.min.css"/>
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->

    <script src="~/assets/js/ace-extra.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->


    <!-- 分割线--------------------------------------------------------------------------------------------------------------------------------->
    <!-- basic scripts -->

    <!--[if !IE]> -->
    <script src="~/assets/js/jquery-2.0.3.min.js"></script>
    <!-- <![endif]-->

    <!--[if IE]>
    <script src="assets/js/jquery-1.10.2.min.js"></script>
    <![endif]-->

    <!--[if !IE]> -->

    <script type="text/javascript">
        window.jQuery || document.write("<script src='~/assets/js/jquery-2.0.3.min.js'>" + "<" + "script>");
    </script>

    <!-- <![endif]-->

    <!--[if IE]>
    <script type="text/javascript">
        window.jQuery || document.write("<script src='~/assets/js/jquery-1.10.2.min.js'>" + "<" + "script>");
    </script>
    <![endif]-->

    <script type="text/javascript">
        if ("ontouchend" in document) document.write("<script src='~/assets/js/jquery.mobile.custom.min.js'>" + "<" + "script>");
    </script>

    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/typeahead-bs2.min.js"></script>

    <!-- page specific plugin scripts -->

    <!--[if lte IE 8]>
    <script src="assets/js/excanvas.min.js"></script>
    <![endif]-->

    <script src="~/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/assets/js/jquery.slimscroll.min.js"></script>
    <script src="~/assets/js/jquery.easy-pie-chart.min.js"></script>
    <script src="~/assets/js/jquery.sparkline.min.js"></script>
    <script src="~/assets/js/flot/jquery.flot.min.js"></script>
    <script src="~/assets/js/flot/jquery.flot.pie.min.js"></script>
    <script src="~/assets/js/flot/jquery.flot.resize.min.js"></script>

    <!--jquery.dataTables-->
    <script src="~/assets/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/jquery.dataTables.bootstrap.js"></script>
    <!-- ace scripts -->

    <script src="~/assets/js/ace-elements.min.js"></script>
    <script src="~/assets/js/ace.min.js"></script>
    <script src="~/assets/js/layer/layer.js"></script>
    <!-- inline scripts related to this page -->
</head>
<body style="overflow-y: hidden;">
    <!--main-content顶部-->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="../../Main/Index" target="right">@infoModel.SystemName</a>
            </li>
            <li class="active">@ViewData["FirstMenu"].ToString()</li>
            @if (@ViewData["SecondMenu"]!=null)
            {
                <li class="active">@ViewData["SecondMenu"].ToString()</li>
            }          
        </ul>
        <!-- .breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
                <span class="input-icon">
                    <input type="text" placeholder="Search ..." class="nav-search-input"
                        id="nav-search-input" autocomplete="off" />
                    <i class="icon-search nav-search-icon"></i>
                </span>
            </form>
        </div>
        <!-- #nav-search -->
    </div>
    <!--main-content顶部-->

    <!--内容页.page-content-->
    <div class="page-content">
        <!-- .page-header -->
@*          <div class="page-header">
            <h1>@ViewData["FirstMenu"].ToString()
                @if (ViewData["SecondMenu"] == null)
                {
                    <small>
                        <i class="icon-double-angle-right"></i>
                        查看
                    </small>
                }
                else
                {
                    <small>
                        <i class="icon-double-angle-right"></i>
                        @ViewData["SecondMenu"].ToString()
                    </small>
                }


            </h1>
        </div>  *@
        <!-- /.page-header -->


        @RenderBody()
        @*<div class="hr hr32 hr-dotted"></div>*@

    </div>
</body>
</html>
